@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.img1 {

    animation: img1 2000ms;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}


@keyframes img1 {

    from {
        transform: translateX(-240px) translateY(64px);
        
    }

    to {
        transform: translateY(64px) translateX(20px);
        
    }

}

.img2 {
    animation: img2 1500ms;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes img2 {
    from {
        transform: translateX(-112px);
    }

    to {
        transform: translateX(-340px);
    }
}

.hero-text1{
    animation: slide-right 2500ms;

}
.hero-text2{
    animation: slide-right 3000ms;

}
.hero-text3{
    animation: slide-right 3500ms;

}


@keyframes slide-right{

    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
    
}
